.DS_Store
*.egg-info
.coverage
**/__pycache__
**/*.pyc
**/*.ipynb_checkpoints
**/*.tfstate
**/*.lock.hcl
**/*.terraform
**/*.backup
**/*.env
data/
logs/
airflow/*
dbt/logs
dbt/target/
dbt/dbt_modules/
dbt/dbt_packages/

!airflow/dags
!airflow/docker-compose.yaml
!airflow/Dockerfile