.env/
.DS_Store
*.egg-info
.coverage
**/__pycache__
**/*.pyc
**/*.ipynb_checkpoints
**/*.tfstate
**/*.lock.hcl
**/*.terraform
**/*.backup
data/

logs/
src/dbt/logs
src/dbt/target/
src/dbt/dbt_modules/
src/dbt/dbt_packages/
