.DS_Store
*.egg-info
.coverage
**/__pycache__
**/*.pyc
**/*.ipynb_checkpoints
**/*.tfstate
**/*.lock.hcl
**/*.terraform
**/*.backup
**/*.env
data/
logs/
airflow/*
src/dbt/logs
src/dbt/target/
src/dbt/dbt_modules/
src/dbt/dbt_packages/

!airflow/dags
!airflow/docker-compose.yaml
!airflow/Dockerfile